/**
 * React Static Boilerplate
 * https://github.com/koistya/react-static-boilerplate
 *
 * Copyright © 2015-2016 Konstantin Tarkus (@koistya)
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE.txt file in the root directory of this source tree.
 */

 body {
  background-color: black;
 }

@media screen and (max-width: 1024px) {

  .content {
    padding: 0 16px;
  }

}

.content {
  width: 3840px;
  height: 1080px;
  background-color: black;
}

.main {
  width: 2160px;
  height: 240px;
  margin: 0 auto;
  background-image:linear-gradient(315deg,rgb(255,165,0) 0%,rgb(212,0,100) 100%);
  // background-color: white;
  position: relative;
  overflow: hidden;
}

.info {
  position: absolute;
  width: 240px;
  height: 240px;
  text-align: center;
  // color: rgba(160,20,140,1);
  color: white;
  transform: rotate(90deg);
  font-size: 3em;
  line-height: 1.3;
  padding: 50px 0;
  box-sizing: border-box;
  text-transform: uppercase;
  font-weight: bold;
}

.info strong {
  font-weight: bold;
}

.lovers {
  text-align: center;
  font-size: 8em;
  line-height: 240px;
  // color: rgba(160,20,140,1);
  color: white;
  font-weight: bold;
}

.loverOne, .emoji, .loverTwo {
  text-transform: capitalize;
  display: inline-block;
  vertical-align: top;
}

.loverOne, .loverTwo {
  height: 240px;
  width: 600px;
}

.loverOne {
  text-align: right;
}

.loverTwo {
  text-align: left;
}

.emoji {
  margin: 0 50px;
  width: 240px;
}

.emoji img {
  width: 200px;
  margin-top: -20px;
}

.hearts {
  width: 240px;
  height: 240px;
  transform: rotate(90deg);
  
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
}


.pulse {
  animation: pulse 1500ms infinite;
}

@keyframes :local(pulse) {
  0% { transform: scale(1); }
  10% { transform: scale(1.4); }
  20% { transform: scale(1); }
  30% { transform: scale(1); }
  40% { transform: scale(1.1); }
  50% { transform: scale(1); }
}



.heart {
  width: 90px;
  height: 90px;
  opacity: 1;
  position: absolute;
}

.heartInner {
  width: 90px;
  height: 90px;
  background-size: contain;
  background-repeat: no-repeat;
}

.frame2 {
  height: 108px;
  overflow: hidden;
}

.tracker2 {
  height: 108px;
}
